<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="id" content="{{storage_id}}">
    <meta name="owner-id" content="{{owner_id}}">
    <title>{{storage.name}} | Clean Fridge</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/css/variables.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/css/styles.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/css/navigation.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/css/pop-up.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='bootstrap/css/item-meta.css')}}"
    />
    <script src="{{url_for('static', filename='bootstrap/js/script.js')}}" defer></script>
    <script
      src="{{url_for('static', filename='bootstrap/js/search-bar.js')}}"
      defer
    ></script>
    <script
      src="{{url_for('static', filename='bootstrap/js/navigation.js')}}"
      defer
    ></script>
    <script
      src="{{url_for('static', filename='bootstrap/js/pop-up.js')}}"
      defer
    ></script>
  </head>
  <body>
    {% include "nav_bar.html" %}
    {% include "pop_up.html" %}
    {% with title=storage.name, description=storage.description, tags=storage.tags, 
      search_context="Storage", meta_action="editStorage();", editable=True, resource="Storage" %}
      {% include "content_meta.html" %}
      {% include "searchbar.html" %}
    {% endwith %}

    {% with section="Sub-Storages", counter="Item", resource="find_storage", content_list=storage_list, section_action="createStorage();" %}
      {% include "section.html" %}
    {% endwith %}
    {% with section="Items", counter="Count", resource="find_item", content_list=item_list, section_action="createItem();" %}
      {% include "section.html" %}
    {% endwith %}
  </body>
</html>
